<div id="menu" class="col-md-2 d-none d-md-block pt-3">
    <div class="sidebar-sticky">
        <div class="card-userinfo">
            <img src="../public/img/img_user_logo_default.png" />
            <h5>User</h5>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#"><img
                        src="../public/img/img_home.png" /><span>Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img
                        src="../public/img/img_post.png" /><span>Post</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img
                        src="../public/img/img_friends.png" /><span>Friends</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img
                        src="../public/img/img_message.png" /><span>Messages</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img
                        src="../public/img/img_bookmark.png" /><span>Bookmark</span></a>
            </li>
        </ul>
    </div>
</div>