div.card {
    width: 400px;
    margin: 0% 30% 0% 30%;
    margin-top: 150px !important;
}

.card-title {
    margin: 20px;
    margin-bottom: 30px;
}

.line-before{
    margin-bottom: 30px;
}

.line {
    border-top: 1px solid #CBD2D6;
    text-align: center;
}

.line span{
    background-color: #fff;
    padding: 0 0.5em;
    position: relative;
    color: #6c7378;
    top: -0.7em;
}

.block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.block input#username {
    background: #fff url('../img/img_login_username.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.block input#username:focus {
    background: #fff url('../img/img_login_username.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.block input#password {
    background: #fff url('../img/img_login_password.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.block input#password:focus {
    background: #fff url('../img/img_login_password.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}